# This file is managed by Ansible, YOUR CHANGES WILL BE LOST!
Defaults log_output, {% if sudosh_requiretty %}, requiretty{% endif %}
{% if sudosh_exclude_svc_users %}
# Prevent a lot of clutter in the logs for service account runs
Defaults:{{ sudosh_svc_users }} !log_output, !requiretty
{% endif %}
Defaults!/usr/bin/sudoreplay !log_output
Defaults!/sbin/reboot !log_output

# Allow users to sudo to themselves
ALL ALL=() ALL
